<!DOCTYPE html>
<html>
  <head>
    <title>Jakub Smuga</title>
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/login.css" />
    <link rel="stylesheet" href="styles/profile.css" />
    <link rel="stylesheet" href="styles/game.css" />
    
    <script>
  width = "800";
  height = "500";
  const shotAngle = document.getElementById("shotAngle");
  const shotSpeed = document.getElementById("speed");

  const c = document.getElementById("myCanvas");
  // set width and height
  c.setAttribute("width", `${width}px`);
  c.setAttribute("height", `${height}px`);
  c.style.width = `${width}px`;
  c.style.height = `${height}px`;
  const ctx = c.getContext("2d");

  // starting angle (45 deg)
  var angle = 0.7853981633974483;
  function getCursorPosition(canvas, event) {
    // get where you clicked
    const rect = canvas.getBoundingClientRect();
    const x = event.clientX - rect.left;
    const y = event.clientY - rect.top;

    // calculates angle in radian
    angle = (Math.atan2(height - y, x) * 180) / 180;
    shotAngle.innerHTML = angle;
  }
  // on click
  const canvas = document.querySelector("canvas");
  canvas.addEventListener("mousedown", function (e) {
    getCursorPosition(canvas, e);
    balls.push(new Circle());
  });

  function Circle() {
    this.x = 0;
    this.y = height;
    this.r = 8;
    this.c = "red";

    this.dx = speed.value * Math.cos(angle);
    this.dy = speed.value * Math.sin(angle);

    this.draw = function () {
      ctx.beginPath();
      ctx.fillStyle = this.c;
      ctx.arc(this.x, this.y, this.r, 0, Math.PI * 2);
      ctx.fill();
    };

    this.animate = function () {
      this.x += this.dx;
      this.y -= this.dy;
      this.dy -= gravity.value;

      this.draw();
    };
  }

  const balls = [];

  function Update() {
    ctx.clearRect(0, 0, width, height);

    for (let i = 0; i < balls.length; i++) {
      let ball = balls[i];
      if (ball.dx != 0) {
        ball.animate();
      }
    }
    ctx.beginPath();
    // rotate gun
    ctx.translate(0, height);
    ctx.rotate(-angle);
    ctx.translate(0, -height);

    // create gun
    ctx.fillStyle = "black";
    ctx.fillRect(0, height - 10, 80, 20);

    // rotate back
    ctx.translate(0, height);
    ctx.rotate(angle);
    ctx.translate(0, -height);

    requestAnimationFrame(Update);
  }

  Update();

  addEventListener("load", (event) => {});

  onload = (event) => {
    fetch("/getParams", {
      method: "GET",
    })
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        const speed = data.speed;
        const gravity = data.gravity;
        document.getElementById("name").innerHTML = data.name;
        if (speed === "null") {
          document.getElementById("speed").value = 10;
        } else {
          document.getElementById("speed").value = speed;
        }
        if (gravity === "null") {
          document.getElementById("gravity").value = 0.15;
        } else {
          document.getElementById("gravity").value = gravity;
        }
      });
  };

  const setParameters = () => {
    const speed = document.getElementById("speed").value;
    const gravity = document.getElementById("gravity").value;

    fetch("/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        speed: speed,
        gravity: gravity,
      }),
    });
  };
</script>
    
  </head>
  <body class="body">
    <div class="header">
      <a href="../" class="logo">
        <h1>Projekt Zaliczeniowy</h1>
      </a>

      <div class="buttons">
        <a href="logout" class="button login"> WYLOGUJ </a>
      </div>
    </div>

    <div class="profileContent">
      <div class="profileCard">
        <div>
          <h2>Nazwa używkownika: <span class="name" id="name"></span></h2>
        </div>
      </div>

      <form class="settings">
        <h2>
          Prędkość początkowa:
          <span><input type="text" id="speed" value="10" /></span>
        </h2>
        <h2>
          Grawitacja:
          <span><input type="text" id="gravity" value="0.15" /></span>
        </h2>

        <input
          type="button"
          class="button login"
          value="ZAPISZ"
          onclick="setParameters()"
        />
      </form>

      <h2>Kąt: <span id="shotAngle"></span> (rad)</h2>
      <canvas
        class="game"
        id="myCanvas"
        height="100"
        style="border: 1px solid #000000"
      >
      </canvas>

      <h3 class="tip">
        Aby wystrzelić należy nacisnąć na ekran w białym prostkącie.
      </h3>
    </div>
  </body>
</html>


