<!DOCTYPE html>
<html>
  <head>
    <title>Jakub Smuga</title>
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/login.css" />
  </head>
  <body class="body">
    <div class="header">
      <a href="../" class="logo">
        <h1>Projekt Zaliczeniowy</h1>
      </a>
    </div>

    <div class="content">
      <form id="loginForm" class="form" method="post" action="/signin">
        <h1 class="title">ZALOGUJ</h2>

        <label for="username" class="label">NAZWA</label>
        <input id="username" name="username" type="text" class="input" />

        <label for="password" class="label">HASLO</label>
        <input id="password" name="password" type="password" class="input" />

        <input type="submit" value="ZALOGUJ" class="submit" />
      </form>
    </div>
  </body>
</html>
