<!DOCTYPE html>
<html>
  <head>
    <title>Jakub Smuga</title>
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/notLogged.css" />
    <link rel="stylesheet" href="styles/game.css" />
  </head>
  <body class="body">
    <div class="header">
      <a href="../" class="logo">
        <h1>Projekt Zaliczeniowy</h1>
      </a>

      <div class="buttons">
        <a href="login" class="button login"> ZALOGUJ </a>
        <a href="register" class="button register"> ZAREJESTRUJ </a>
      </div>
    </div>

    <div class="content">
      <div class="settings">
        <h2>
          Prędkość początkowa:
          <span><input type="text" id="speed" value="10" /></span>
        </h2>
        <h2>
          Grawitacja:
          <span><input type="text" id="gravity" value="0.15" /></span>
        </h2>
      </div>

      <h2>Kąt: <span id="shotAngle"></span> (rad)</h2>
      <canvas
        class="game"
        id="myCanvas"
        height="100"
        style="border: 1px solid #000000"
      >
      </canvas>

      <h3 class="tip">
        Aby wystrzelić należy nacisnąć na ekran w białym prostkącie.
      </h3>
    </div>
  </body>
</html>

<script>
  width = "800";
  height = "500";
  const shotAngle = document.getElementById("shotAngle");
  const shotSpeed = document.getElementById("speed");

  const c = document.getElementById("myCanvas");
  // set width and height
  c.setAttribute("width", `${width}px`);
  c.setAttribute("height", `${height}px`);
  c.style.width = `${width}px`;
  c.style.height = `${height}px`;
  const ctx = c.getContext("2d");

  // starting angle (45 deg)
  var angle = 0.7853981633974483;
  function getCursorPosition(canvas, event) {
    // get where you clicked
    const rect = canvas.getBoundingClientRect();
    const x = event.clientX - rect.left;
    const y = event.clientY - rect.top;

    // calculates angle in radian
    angle = (Math.atan2(height - y, x) * 180) / 180;
    shotAngle.innerHTML = angle;
  }
  // on click
  const canvas = document.querySelector("canvas");
  canvas.addEventListener("mousedown", function (e) {
    getCursorPosition(canvas, e);
    balls.push(new Circle());
  });

  function Circle() {
    this.x = 0;
    this.y = height;
    this.r = 8;
    this.c = "red";

    this.dx = speed.value * Math.cos(angle);
    this.dy = speed.value * Math.sin(angle);

    this.draw = function () {
      ctx.beginPath();
      ctx.fillStyle = this.c;
      ctx.arc(this.x, this.y, this.r, 0, Math.PI * 2);
      ctx.fill();
    };

    this.animate = function () {
      this.x += this.dx;
      this.y -= this.dy;
      this.dy -= gravity.value;

      this.draw();
    };
  }

  const balls = [];

  function Update() {
    ctx.clearRect(0, 0, width, height);

    for (let i = 0; i < balls.length; i++) {
      let ball = balls[i];
      if (ball.dx != 0) {
        ball.animate();
      }
    }
    ctx.beginPath();
    // rotate gun
    ctx.translate(0, height);
    ctx.rotate(-angle);
    ctx.translate(0, -height);

    // create gun
    ctx.fillStyle = "black";
    ctx.fillRect(0, height - 10, 80, 20);

    // rotate back
    ctx.translate(0, height);
    ctx.rotate(angle);
    ctx.translate(0, -height);
    requestAnimationFrame(Update);
  }

  Update();
</script>
